<nav class="nav bg-dark ">
   <li class="nav-item">
     <a class="nav-link text-white" href=""> Home</a>
   </li>
   
   <li class="nav-item">
    <a class="nav-link text-white" routerLink="/studentslist"> Students list</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-white" routerLink="/addstudent"> Add student</a>
  </li>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>
